/* #region RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET  */

/* #region FONT  */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* #endregion FONT  */

/* #region DEBUG  */
.debug header{
    width: 100%;
    height: 50px;
    background-color: lightseagreen;
}

.debug .top-bar {
    background-color: lightgreen;
}

.debug .nav-left, .debug .logo, .debug .nav-right{
    border: 1px dashed black;
}

.debug main {
    background-color: yellow;
    width: 100%;
    height: 700px;
}

.debug .container {
    height: 600px;
    background-color: white;
    border: 1px dashed black;
}

.debug .imagine{
    border: 1px dashed black;
}


.debug footer {
    width: 100%;
    height: 50px;
    background-color: red;
}

.debug .footer-bar {
    background-color: pink;
    height: 50px;
    border: 1px solid black;
}

.debug .riga-img {
    height: 250px;
    background-color: lightblue;
}

.debug .riga-info {
    height: 100px;
    background-color: lightblue;
}

.debug .sezione-info {
    border: 1px dashed black;
}
/* #endregion DEBUG  */


/* #region COMMON  */
/* #endregion COMMON  */


/* #region HEADER  */
header {
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    box-shadow: 0 0 3px 0 black;
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
}

.top-bar {
    width: 70%;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.nav-left {
    width: 40%;
    min-width: 100px;
}

.logo {
    text-align: center;
    width: 100%;
    min-width: 200px;
}

.bool-logo {
    width: 20%;
}

.nav-right {
    text-align: right;
    width: 40%;
    min-width: 100px;
}

ul {
    list-style: none;
}

.nav-top li {
    display: inline;
    padding-left: 3px;
}

/* .nav-top {
    display: flex;
    justify-content: space-between;
} */

a {
    text-decoration: none;
    color: white;
}
/* #endregion HEADER  */



/* #region MAIN  */
main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 70%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.riga-img, .riga-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.riga-info {
    margin-bottom: 20px;
}

.imagine{
    width: calc(100% / 3);
    position: relative;
}

.imagine:hover .cuore, .see{
    display: none;
}

.imagine:hover .cuore, .unsee{
    display: block;
    color: red;
}

.imagine:hover .see {
    display: none;
}

.imagine:hover .unsee {
    display: block;
}

.sezione-info {
    width: calc(100% / 3);
}

img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
}

.see {
    display: block;
} 

.unsee {
    display: none;
}

.condizioni {
    position: relative;
    display: flex;
    justify-content: left;
    bottom: 40px;
    gap: 2px;
}

.sconto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    min-width: 20px;
    background-color: red;
    padding: 3px;
    font-size: 8px;
    color: white;
}

.stato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    min-width: 50px;
    background-color: green;
    bottom: 50px;
    padding: 3px;
    font-size: 8px;
    color: white;
}

.marchio {
    font-size: 10px;
}

.modello {
    font-size: 12px;
    font-weight: 600;
}

.prezzo {
    color: red;
    font-weight: 500;
    font-size: 11px;
}

.prezzo li {
    display: inline;
}

.prezzo li:nth-child(2) {
    color: grey;
    font-weight: 400;
    text-decoration: line-through;
}

.cuore {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 0;
    background-color: white;
    text-align: center;
    padding: 3px;
    font-size: 20px;
    color: black;
}

/* #endregion MAIN  */



/* #region FOOTER  */
footer {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    line-height: 20px;
}

.footer-bar {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.piede-riga1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-left h2 {
    font-size: 9px;
}

.nav-right h3 {
    font-size: 8px;
}

.piede-riga2 {
    display: flex;
    justify-content: space-between;
}

.nav-left ul {
    list-style: none;
}

.nav-left ul li {
    display: inline;
    font-size: 7px;
    padding: 3px 3px 3px 0;
}

.piede-riga2 .nav-left{
    width: 60%;
    font-size: 8px;
    padding-bottom: 15px;
}

.nav-right ul li {
    display: inline;
    font-size: 12px;
}
/* #endregion FOOTER  */